<div class="reset-password">
  <div class="reset-password__area" id="reset-password__area">
    <h1 class="reset-password__area__heading">{{'login' | upcase}}</h1>
    <p class="reset-password__area__msg">Enter a new password for {{ email: email }}</p>
    {% form 'reset_customer_password'%}

    <input
      type="password"
      name=""
      id=""
      autocomplete=""
      autocorrect="off"
      autocapitalize="off"
      placeholder="Password"
      >

    <input
      type="password"
      value=""
      name=""
      id=""
      placeholder="Password Confirmation"
    >

    <input type="submit" class="btn" value="RESET PASSWORD">

  {% endform %}
  </div>
</div>

<style>
.reset-password__area {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 470px;
}

.reset-password__area__heading {
  margin-bottom: 26px;
  letter-spacing: 0.2em;
  font-size: 24px;
  text-align: center;
}

.reset-password__area__msg {
  text-align: center;
}

.reset-password__area input {
  width: 100%;
  display: block;
  box-sizing: border-box;
  padding: 26px 18px;
  margin-bottom: 20px;
  border: 3px solid #c0c0c0;
  font-size: 16px;
}

.reset-password__area input[type="submit"] {
  width: 80%;
  margin: 0 auto 50px;
  cursor: pointer;
  letter-spacing: 0.3em;
  background: #3a3a3a;
  color: #ffffff;
  border: none;
}

@media screen and (max-width: 749px) {
  .reset-password__area input[type="submit"] {
    width: 88%;
  }
}

.reset-password__area input[type="submit"]:hover {
  opacity: 0.8;
}
</style>